*{
    margin: 0;
    padding: 0;
}

.New img{
    height: 715PX;
}
.text,img{
    background-color: rgb(12, 59, 46);
    height: 715px;
    width: 40%;
    float: right;
}
.text{
    text-align: left;
    width: 60%;
    color: white;
}
h1{
    font-weight: bold;
    font-size: 400%;
    padding-top: 50px;
    padding-left: 50px;
}
h2{
    font-size: 200%;
    padding-top: 85px;
    padding-left: 50px;
}
h3{
    font-size:200% ;
    padding-left: 50px;
    padding-top: 3px;
}
h4,h5{
    font-size:200% ;
    padding-left: 50px;
}
h4{
    padding-top: 50px;
}
button{
    font-size: 200%;
    background-color: yellowgreen;
    color:black;
    padding: 20px;
    border: black;
    border-radius: 20px;
    margin: 50px;
    cursor: pointer;
}