*{
    margin: 0 ;
    padding: 0 ;
}
.main{
    background-color: Rgb(127, 194, 199);
    height: auto;
}
.main{
    width: 95%;
    text-align: center;
    padding: 38px;
    font-size: 60px;
    font-weight: bold;
    text-transform: capitalize;
}
.flex-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-item img{
    width: 300px;
    height: 308PX;
    margin-bottom: 8PX;
}
.text h1,h4,h5,h6{
    text-align: center;

}
.text h4{
    font: 2px;
}
.text h2{
    font-size: 45px;
    padding-bottom: 7px;
}
.txt h6{
    font-size: 18px;
    font-weight: 100;
}
.text h5{
    font-size: 35pX;
    font-weight: bold;
}